<div id="<%= dom_id item %>">
  <p>
    <strong>Task:</strong>
    <%= item.task_id %>
  </p>

  <p>
    <strong>Task name:</strong>
    <%= item.task_name %>
  </p>

  <p>
    <strong>Task description:</strong>
    <%= item.task_description %>
  </p>

  <p>
    <strong>Bucket:</strong>
    <%= item.bucket_id %>
  </p>

  <p>
    <strong>Bucket name:</strong>
    <%= item.bucket_name %>
  </p>

  <p>
    <strong>Date added:</strong>
    <%= item.date_added %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= item.deadline %>
  </p>

  <p>
    <strong>Task completed:</strong>
    <%= item.task_completed %>
  </p>

  <p>
    <strong>User:</strong>
    <%= item.user_id %>
  </p>

</div>
